<div class="container">
  <div class="row mt-4 mb-4">
    <h1 style="text-align: center;">GESTION DES COMPTES</h1>
  </div>
  <div class="col">
    <div class="col-4 col-md-5 mb-3 mt-3">
      <form novalidate (ngSubmit)="saveData()" [formGroup]="accountForm">

        <div class="form-group">
          <input placeholder="Numero de compte *" type="text" class="form-control" id="accountNumber"
            formControlName="accountNumber"
            [ngClass]="{'is-invalid': accountForm.get('accountNumber').touched &&!accountForm.get('accountNumber').valid}">

          <div class="invalid-feedback">
            <span *ngIf="accountForm.get('accountNumber').errors?.required">
              Entrez le numero de compte du client
            </span>
            <span *ngIf="accountForm.get('accountNumber').errors?.maxlength">
              Maxnimum 10 charactères
            </span>
          </div>
        </div>


        <button type="submit" class="btn btn-red" >Créer </button>
      </form>


    </div>
    <div class="col-12 col-md-12">
      <span style="text-align: center; margin-top: 2%; margin-bottom: 2%;">
        <h6>Liste des Comptes</h6>
      </span>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Numero de compte</th>
            <th>IBAN</th>
            <th>RIB</th>
            <th>ACCOUNT TYPE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accountList">
            <td>
              {{account.accountNumber}}
            </td>
            <td>
              {{account.iban}}
            </td>
            <td>
              - {{account.rib}}
            </td>
            <td>
              {{account.accountType}}
            </td>
        </tbody>
      </table>
    </div>
    </div>
  </div>

